<div class="sidebar">
   <mat-calendar
      [selected]="selectedDate$ | async"
      (selectedChange)="handleCalendarChange($event)">
   </mat-calendar>
</div>

<form *ngIf="workdayForm && loadedDate"
      [formGroup]="workdayForm"
      (ngSubmit)="sendWorklogs()"
      novalidate>

   <app-worklog-list [formControl]="workdayForm.get('worklogs')"
                     [worklogsDate]="loadedDate">
   </app-worklog-list>

   <div class="extra-components">
      <app-reminders [remindersFormControl]="workdayForm.get('reminder')"></app-reminders>
      <app-workday-summary [workday]="getFormValueAsWorkday()"></app-workday-summary>
   </div>

   <button type="submit" mat-fab><i class="material-icons md-light">send</i></button>

</form>

