:host {
   display: block;
   height: 100%;
   padding: 20px;
}

mat-card-content {
   padding-bottom: 20px;
}

mat-form-field {
   width: 100%;
   font-size: 1.6rem;
}

section {
   margin-top: 3rem;

   label {
      display: block;
      color: rgba(0, 0, 0, 0.6);
      margin-bottom: 5px;
      font-size: 1.5rem;
   }

   .hint {
      color: rgba(0, 0, 0, 0.6);
      font-size: 1.4rem;;
      display: block;
      margin-top: 5px;
   }
}
