:host {
   display: block;
   height: 100%;
   padding: 20px;
}

mat-card-content {
   padding: 20px 10px;
}

mat-form-field {
   width: 100%;
   font-size: 16px;
}

section {
   margin-top: .75em;

   label {
      display: block;
      color: rgba(0, 0, 0, 0.6);
      margin-bottom: 5px;
      font-size: 13px;
   }

   .hint {
      color: rgba(0, 0, 0, 0.6);
      font-size: 12px;
      display: block;
      margin-top: 5px;
   }
}
