<mat-card>

   <mat-card-subtitle>
      Worklogs - {{worklogsDate.format('LL')}}
   </mat-card-subtitle>

   <mat-card-content>
      <table class="mat-table">

         <thead>
         <tr class="mat-header-row">
            <th class="mat-header-cell handle">&nbsp;</th>
            <th class="mat-header-cell time">Start</th>
            <th class="mat-header-cell time">End</th>
            <th class="mat-header-cell spent">Spent</th>
            <th class="mat-header-cell description">Description</th>
            <th class="mat-header-cell issue">Issue</th>
            <th class="mat-header-cell status">Status</th>
            <th class="mat-header-cell actions">&nbsp;</th>
         </tr>
         </thead>

         <tbody cdkDropList (cdkDropListDropped)="drop($event)">
         <tr class="mat-row"
             app-worklog-list-item
             *ngFor="let worklogControl of worklogsFormArray.controls; let index = index; let last = last;"
             [formControl]="worklogControl"
             (rowDelete)="deleteWorklog(index)"
             [last]="last"
             (newRow)="addNewWorklog()"
             [shouldFocus]="focusIndex === index"
             cdkDrag cdkDragLockAxis="y">
            <td class="mat-cell handle">
               <button mat-icon-button type="button" cdkDragHandle>
                  <mat-icon class="md-dark" aria-label="Drag Handle">drag_indicator</mat-icon>
               </button>
            </td>
         </tr>
         </tbody>

         <tbody>
         <tr class="mat-row new-row"
             (click)="addNewWorklog()">
            <td colspan="99999">
               <mat-icon class="md-dark" aria-label="Add new row">add_box</mat-icon>
               <span> Add Worklog</span>
            </td>
         </tr>
         </tbody>

      </table>
   </mat-card-content>
</mat-card>
