@import '_colors';

$handleWidth: 50px;
$timeAndSpentWidth: 70px;
$issueWidth: 120px;
$statusWidth: 100px;
$actionsWidth: 50px;

table {
   width: 100%;
}

th.mat-header-cell:first-child {
   padding-left: 8px;
}

th.mat-header-cell:last-child {
   padding-right: 8px;
}

tr {
   line-height: 40px;
}

th.handle {
   width: $handleWidth;
}

th.time,
th.spent {
   width: $timeAndSpentWidth;
}

th.issue {
   width: $issueWidth;
}

th.status{
   width: $statusWidth;
}

th.actions {
   width: $actionsWidth;
}

th.description {
   text-align: left;
}

::ng-deep td {

   text-align: center;

   input {
      text-align: center;
      margin-right: 5px;
      margin-left: 5px;
      vertical-align: middle;
   }

   &.mat-cell:last-child,
   &.mat-footer-cell:last-child{
      padding: 8px;
   }

   &.mat-cell:first-child,
   &.mat-footer-cell:first-child{
      padding: 8px;
   }

   &.time input {
      width: 50px;
   }

   &.description {
      flex: 1;
      text-align: left;
      padding: 5px 10px 5px 0;

      textarea {
         vertical-align: middle;
         text-align: left;
      }

   }

   &.issue input {
      width: 80px;
   }

   &.handle button {
      cursor: move;
   }

   &.actions button:hover mat-icon {
      color: $errorColor;
   }
}

.cdk-drag-preview {

   display: flex;
   align-items: center;
   opacity: 0.95;
   background-color: white;
   border-radius: 4px;
   box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
   0 8px 10px 1px rgba(0, 0, 0, 0.14),
   0 3px 14px 2px rgba(0, 0, 0, 0.12);
   cursor: move;

   ::ng-deep {
      td {
         border: none;
      }

      input,
      textarea {
         pointer-events: none;
      }

      td.handle {
         width: $handleWidth;
      }

      td.time,
      td.spent {
         width: $timeAndSpentWidth;
      }

      td.issue {
         width: $issueWidth;
      }

      td.status{
         width: $statusWidth;
      }

      td.actions {
         width: $actionsWidth;
      }

   }
}

.cdk-drag-placeholder{
   opacity: 0;
}

.cdk-drag-animating {
   transition: transform 150ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging :not(.cdk-drag-placeholder) {
   transition: transform 150ms cubic-bezier(0, 0, 0.2, 1);
}

tr.new-row {
   opacity: 0.5;
   cursor: pointer;
   background-color: $grey200;

   >td>* {
      vertical-align: middle;
   }
}
