<ng-content></ng-content>
<td class="mat-cell time">
   <app-timepicker [shouldFocus]="shouldFocus" [timePickerControl]="worklogFormGroup.get('startTime')">
   </app-timepicker>
</td>
<td class="mat-cell time">
   <app-timepicker [timePickerControl]="worklogFormGroup.get('endTime')">
   </app-timepicker>
</td>
<td class="mat-cell spent">
   {{ calcSpentTime() }}
</td>
<td class="mat-cell description">
  <textarea class="multiline_input" rows="1"
            [formControl]="worklogFormGroup.get('description')"
            [cdkTextareaAutosize]="true"
            [cdkAutosizeMaxRows]="3">
  </textarea>
</td>
<td class="mat-cell issue">
   <app-issue-autocomplete [disabled]="disabled" [formControl]="worklogFormGroup.get('issue')"></app-issue-autocomplete>
</td>
<td class="mat-cell status">
   <app-worklog-status [status]="worklogFormGroup.get('status').value"
                       [message]="worklogFormGroup.get('statusMessage').value">
   </app-worklog-status>
</td>
<td class="mat-cell actions">
   <button mat-icon-button *ngIf="!disabled" type="button"
           (click)="deleteRowClicked()"
           (keydown.Tab)="handleTabOnLastInput($event)">
      <mat-icon class="md-dark" aria-label="Remove Worklog">delete</mat-icon>
   </button>
</td>
