<mat-card>
  <mat-card-subtitle>
    Summary
  </mat-card-subtitle>

  <mat-card-content>
    <table class="mat-table">
      <tr class="mat-header-row">
        <th class="mat-header-cell">a</th>
        <th class="mat-header-cell">a</th>
        <th class="mat-header-cell">a</th>
        <th class="mat-header-cell">a</th>
      </tr>
      <tr class="mat-row">
        <td class="mat-cell">b</td>
        <td class="mat-cell">b</td>
        <td class="mat-cell">b</td>
        <td class="mat-cell">b</td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>
