<mat-card>
   <mat-card-subtitle>
      Summary
   </mat-card-subtitle>
   <mat-card-content>

      <div>
         <span>Clock In: {{getClockInHour()}}</span>
         <span>Clock Out: {{getClockOutHour()}}</span>
      </div>

      <div>
         <span>Worked: {{getWorkedTime()}}</span>
         <span>Pause: {{getPauseTime()}}</span>
      </div>

      <mat-progress-bar
         [ngClass]="getProgressBarClass()"
         mode="determinate"
         [value]="getProgressBarValue()">
      </mat-progress-bar>

   </mat-card-content>
</mat-card>
