@import "_colors";

$custom-typography: mat-typography-config(
   $font-family: 'Open Sans, sans-serif'
);
@include mat-core($custom-typography);

$app-theme: mat-light-theme($app-primary, $app-accent, $app-error);
@include angular-material-theme($app-theme);
