@import "theme";

input, textarea {
   color: $primaryText;
   font-family: 'Open Sans', sans-serif;
}

.text_input {
  width: 100%;
  background-color: transparent;
  border: 1px solid $disabledText;
  resize: none;
}

.text_input:focus {
  outline: none;
  border-color: $colorSecondary;
}

.input {
  @extend .text_input;
  padding: 2px;
  border-top: 0;
  border-right: 0;
  border-left: 0;
}

.input:focus {
  @extend .text_input:focus;
  box-shadow: 0 1px 0 0 $colorSecondary;
}

.input[disabled] {
  border-style: dashed;
}

textarea.textarea {
  @extend .text_input;
  border-radius: 3px;
  padding: 8px 12px;
  width: calc(100% - 24px);
}

textarea.textarea:focus {
  @extend .text_input:focus;
  box-shadow: 0 0 0 1px $colorSecondary;
}

textarea.multiline_input {
  @extend .input;
  width: calc(100% - 8px);
  border-radius: 0;
  padding-right: 4px;
  padding-left: 4px;
  box-sizing: content-box;
}

.multiline_input:focus {
  @extend .input:focus;
  border-radius: 2px;
  background-color: $grey100;
}

::-webkit-input-placeholder {
  color: $disabledText;
}
