@import 'fonts';
@import 'theme';
@import 'tables';
@import 'inputs';

*:not(textarea), *:before, *:after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

.mat-card {
  user-select: none;
}
