@import '_fonts';
@import '_theme';
@import '_tables';
@import '_inputs';
@import '_colors';

*:not(textarea),
*:before,
*:after {
   box-sizing: border-box;
}

html,
body {
   margin: 0;
   padding: 0;
   height: 100%;
   font-family: 'Open Sans', sans-serif;
   font-size: 62.5%;
   color: $primaryText;
}

.mat-card {
   user-select: none;
}

.mat-card-title {
   font-size: 1.8rem;
}
